<div class="m-2">
  <div class="form">
    <h2><strong>Sign up</strong></h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs container">
        <div class="row">
          <div class="col">
            <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" }%>
          </div>
          <div class="col">
            <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last_name" }%>
          </div>
        </div>
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
        <div class="row">
          <div class="col">
            <%= f.input :nickname,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "nickname" }%>
          </div>
          <div class="col">
            <%= f.input :license_number,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "license_number" }%>
          </div>
        </div>
        <%= f.input :birthday,
                required: false,
                autofocus: true,
                as: :date,
                start_year: 1910, end_year: Time.now.year,
                input_html: { autocomplete: "birthday", class: "mb-2"}%>
      </div>
      <div class="form-actions m-2" id="button-form">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
  </div>
</div>
