<h1>Booking form</h1>
<%= simple_form_for @booking do |f| %>
  <div class="form-inputs">
    <div class="mb-3">
      <label class="form-label">Vehicle:</label>
      <p><strong><%= @vehicle.name %></strong></p>
      <%= f.hidden_field :vehicle_id, value: @vehicle.id %>
    </div>
    <%= f.input :start_date, disabled: @vehicle.availability == 'unavailable' %>
    <%= f.input :end_date, disabled: @vehicle.availability == 'unavailable' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-dark w-100', disabled: @vehicle.availability == 'unavailable' %>
  </div>
<% end %>
