<h1>Hello from Bookings - EDIT page</h1>
<%= simple_form_for @booking do |f| %>
  <div class="form-inputs">
    <%= f.input :start_date,
        as: :string,
        input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date,
        as: :string,
        input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :vehicle_id, collection: Vehicle.all.map { |vehicle| [vehicle.name, vehicle.id] }, prompt: "Select a vehicle" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<%= link_to "Cancel Booking", cancel_booking_path(@booking), data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to cancel this booking?" }, class: "btn btn-danger" %>
