<h1>Hello from Bookings - INDEX page</h1>
<div class="container">
  <% @bookings.each do |booking| %>
    <p>Booking is at: <%= booking.start_date %> to <%= booking.end_date %></p>
    <p>Total is: ¥<%= booking.total_price %></p>
    <p>Status: <%= booking.status %></p>
    <span><%= booking.user_id %><%= booking.vehicle_id %></span>
  <% end %>
</div>