<div class="container" style="min-height: 215px;" data-controller="vendor-bookings-filter">
  <div class="mb-3">
    <h2><strong>You have rented</strong></h2>
  </div>
  <div class="d-flex border-bottom buttons mb-3">
    <p class="mx-3" data-action="click->vendor-bookings-filter#filter" data-status="waiting" style="cursor: pointer;">Waiting</p>
    <p class="mx-3" data-action="click->vendor-bookings-filter#filter" data-status="accepted" style="cursor: pointer;">Accepted</p>
    <p class="mx-3" data-action="click->vendor-bookings-filter#filter" data-status="ongoing" style="cursor: pointer;">Ongoing</p>
    <p class="mx-3" data-action="click->vendor-bookings-filter#filter" data-status="refused" style="cursor: pointer;">Refused</p>
    <p class="mx-3" data-action="click->vendor-bookings-filter#filter" data-status="canceled" style="cursor: pointer;">Canceled</p>
    <p class="mx-3" data-action="click->vendor-bookings-filter#filter" data-status="completed" style="cursor: pointer;">Completed</p>
    <p class="mx-3" data-action="click->vendor-bookings-filter#filter" data-status="all" style="cursor: pointer;">All</p>
  </div>
  <div>
    <div class="row" data-vendor-bookings-filter-target="cards">
      <% @bookings.each do |booking| %>
        <div class="col-md-3 booking-card" data-status="<%= booking.status %>">
          <a href="<%= booking_path(booking) %>" class="hoverClass">
            <div class="card card-custom shadow hoverTransform" style="height:350px; width: 226px;">
              <div class="image-container">
                <div class="image-wrapper">
                  <% if booking.vehicle.photo.attached? %>
                    <%= cl_image_tag booking.vehicle.photo.key, style:"height: 160px; width: 226px" %>
                  <% else %>
                    <%= image_tag 'https://tork.buzz/__export/1718370996032/sites/tork/img/2024/06/14/image_10.png_1203501776.png', style:"height: 160px; width: 226px" %>
                  <% end %>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <strong><%= booking.vehicle.name %></strong>
                  <div data-controller="status-style">
                    <span data-status-style-target="statusElement" data-status="<%= booking.status %>">
                      <%= booking.status.capitalize %>
                    </span>
                  </div>
                </div>
                <div class="d-flex mb-1">
                  <p class="m-0" style="font-size:12px"><%= booking.start_date.strftime("%d %b %Y") %> - <%= booking.end_date.strftime("%d %b %Y") %></p>
                  <div class="ms-2" style="font-size:12px; color:#c1121f">
                    <strong><%= number_to_currency(booking.total_price, unit: "¥", delimiter: ",", precision: 0) %></strong>
                  </div>
                </div>
                <div class="card-text" style="font-size:12px">
                  <div class="mb-1">
                    <%= booking.vehicle.location %>
                  </div>
                  <div style="font-size:12px">
                    <%= booking.vehicle.seats %>
                    <i class="fa-solid fa-user-group"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>