<h1>Hello from Bookings - NEW page</h1>
<%= simple_form_for @booking do |f| %>
  <div class="form-inputs">
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.collection_select :vehicle_id, Vehicle.where.not(user_id: current_user.id).map { |vehicle| [vehicle.name, vehicle.id] }, :last, :first, prompt: "Select a vehicle" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>