<h1>Hello from Bookings - SHOW page</h1>
<p>Booking is at: <%= @booking.start_date %> to <%= @booking.end_date %></p>
<p>Total is: ¥<%= @booking.total_price %></p>
<p>Status: <%= @booking.status %></p>
<span>[ <%= @booking.user_id %> ][ <%= @booking.vehicle_id %> ]</span>
<%= link_to "Edit Booking", edit_booking_path, class: 'btn btn-success' %>
<%= link_to "Show all bookings", bookings_path, class: 'btn btn-primary' %>