<!-- Modal -->
<div class="modal fade" id="filtersForm" tabindex="-1" aria-labelledby="filtersLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="filtersLabel">Advanced Filters</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: vehicles_path, method: :get, local: true do %>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <%= select_tag :category, options_for_select(['', 'Car', 'Motorcycle', 'ATV', 'Truck', 'Van', 'Watercraft', 'Aircraft', 'Spacecraft']), class: 'form-select' %>
          </div>
          <div class="mb-3">
            <label for="seats" class="form-label">Seats</label>
            <input type="text" name="seats" id="seats" class="form-control" pattern="\d*" maxlength="2" value="<%= params[:seats] %>" />
          </div>
          <div class="mb-3">
            <label for="price_min" class="form-label">Min Price</label>
            <input type="text" name="price_min" id="price_min" class="form-control" pattern="\d{1,7}" maxlength="7" value="<%= params[:price_min] %>" />
          </div>
          <div class="mb-3">
            <label for="price_max" class="form-label">Max Price</label>
            <input type="text" name="price_max" id="price_max" class="form-control" pattern="\d{1,7}" maxlength="7" value="<%= params[:price_max] %>" />
          </div>
          <div class="mb-3">
            <label for="speed_min" class="form-label">Min Speed</label>
            <input type="text" name="speed_min" id="speed_min" class="form-control" pattern="\d*" maxlength="3" value="<%= params[:speed_min] %>" />
          </div>
          <div class="mb-3">
            <label for="speed_max" class="form-label">Max Speed</label>
            <input type="text" name="speed_max" id="speed_max" class="form-control" pattern="\d*" maxlength="4" value="<%= params[:speed_max] %>" />
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <%= text_field_tag :location, params[:location], class: 'form-control' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= submit_tag 'Apply Filters', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
