<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="z-index: 1050;">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>"><img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihbPMJs7lZWGlk93eXwjxN_acj4NOmLjmGmgpyo9eQMy1ely4qN4LNoajWlm6tdTmy727AZPZ9B_TBdFiqV9XjwWstpxS09Q8VI=w2548-h1257-rw-v1" alt="..." height="40"></a>
    <form class="d-flex">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03"></div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contact</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <% if user_signed_in? %>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "Rent A Vehicle", new_vehicle_path, class: "dropdown-item bg-light bg-gradient" %></li>
              <li><%= link_to "My Bookings", bookings_path, class: "dropdown-item bg-light bg-gradient" %></li>
              <li><%= link_to "My Rentals", vendor_bookings_path, class: "dropdown-item border-bottom bg-light bg-gradient" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item bg-light text-danger bg-gradient" %></li>
            </ul>
          <% else %>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "Sign In", new_user_session_path, class: "dropdown-item bg-light text-primary bg-gradient" %></li>
              <li><%= link_to "Register", new_user_registration_path, class: "dropdown-item bg-light bg-gradient" %></li>
            </ul>
          <% end %>
        </li>
      </ul>
    </form>
  </div>
</nav>