<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="z-index: 1050;">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logo.svg', alt: 'Logo', height: 40 %></a>
    <form class="d-flex">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03"></div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form class="navbar-form navbar-left" action="<%= vehicles_path %>" method="get">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="search" value="<%= params[:search] %>">
              <div class="input-group-btn">
                <button class="btn btn-primary" type="submit" style="background-color: #0074b7; margin-right: 20px;">
                  <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                </button>
              </div>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/vehicles">All Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vehicles/new">List Your Vehicle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Support</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <% if user_signed_in? %>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "List Your Vehicle", new_vehicle_path, class: "dropdown-item bg-light bg-gradient" %></li>
              <li><%= link_to "My Bookings", bookings_path, class: "dropdown-item bg-light bg-gradient" %></li>
              <li><%= link_to "My Rentals", vendor_bookings_path, class: "dropdown-item border-bottom bg-light bg-gradient" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item bg-light text-danger bg-gradient" %></li>
            </ul>
          <% else %>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item bg-light text-primary bg-gradient" 
                  data-bs-toggle="modal" 
                  data-bs-target="#loginModal"
                  style="cursor: pointer;">
                  Sign In
                </a>
              </li>
              <li><%= link_to "Register", new_user_registration_path, class: "dropdown-item bg-light bg-gradient" %></li>
            </ul>
          <% end %>
        </li>
      </ul>
    </form>
  </div>
</nav>
<%= render "devise/sessions/signin_modal" %> <!-- RENDER Sign in Modal (deivse >> sessions >> _signin_modal.html.erb)-->
