<div class="m-2">
  <div class="form">
    <h2 class="text-center"><strong>Edit - <%= @vehicle.name %></strong></h2>
    <div class="container">
      <%= simple_form_for @vehicle do |f| %>
        <%= f.input :name, input_html: { maxlength: 50 } %>
        <%= f.input :category, as: :select, collection: [['Car', 'car'], ['Bicycle', 'bicycle'], ['ATV', 'atv'], ['Truck', 'truck'], ['Van', 'van'], ['Boat', 'boat'], ['Airplane', 'airplane'], ['Spaceship', 'spaceship']] %>
        <%= f.input :seats, input_html: { min: 1 } %>
        <%= f.input :speed, input_html: { min: 0 } %>
        <%= f.input :price_per_day, input_html: { min: 0 } %>
        <%= f.input :description, input_html: { maxlength: 500 } %>
        <%= f.input :availability, as: :select, collection: [['Available', 'available'], ['Unavailable', 'unavailable']] %>
        <%= f.input :location, input_html: { maxlength: 100 },  input_html: {data: {location_autocomplete_edit_target: "location"}, class: "d-none"},
        wrapper_html: {data: {controller: "location-autocomplete-edit", location_autocomplete_edit_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
        <%= f.input :photo, as: :file %>
        <div id="button-form">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
