
<style>
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
  }
  .image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .card-custom {
    width: 100%;
  }
</style>
<div class="container">
  <h1>Vehicle Categories</h1>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="<%= @category_images[category] %>" class="card-img-top" alt="<%= category %> image">
          <div class="card-body">
            <h5 class="card-title"><%= category %></h5>
            <a href="<%= category_vehicles_path(category) %>" class="btn btn-primary">View Vehicles</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="map-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body m-0 p-0">
        <div style="width: 100%; height: 700px;"
        data-controller="maps"
        data-maps-markers-value="<%= @markers.to_json %>"
        data-maps-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="border-0 sticky-map-button" data-bs-toggle="modal" data-bs-target="#map-modal">
  <i class="fa-solid fa-map-location-dot fa-2xl"></i>
</button>
