<h1>Welcome to FANTASY FLEET's INDEX page</h1>
<h2>Check if working:</h2>
<%= link_to "Create a vehicle", new_vehicle_path, class: 'btn btn-primary' %>
<%= link_to "My Bookings", bookings_path, class: 'btn btn-primary' %>
<%= link_to "My Vehicle Bookings", vendor_bookings_path, class: 'btn btn-primary' %>
<div class="container">
  <% @vehicles.each do |vehicle| %>
    <p><%= vehicle.name %></p>
    <p><%= vehicle.category %></p>
    <p><%= vehicle.seats %></p>
    <p><%= vehicle.speed %></p>
    <p><%= vehicle.price_per_day %></p>
    <p><%= vehicle.description %></p>
    <p><%= vehicle.location %></p>
    <p><%= vehicle.availability %></p>
    <p><%= vehicle.user_id %></p>
    <%= link_to "Show details", vehicle_path(vehicle), class: 'btn btn-primary' %>
  <% end %>
</div>