<h1>Hello from Vehicles - SHOW page</h1>
<div class="container">
  <p><%= @vehicle.name %></p>
  <p><%= @vehicle.category %></p>
  <p><%= @vehicle.seats %></p>
  <p><%= @vehicle.speed %></p>
  <p><%= @vehicle.price_per_day %></p>
  <p><%= @vehicle.description %></p>
  <p><%= @vehicle.location %></p>
  <p><%= @vehicle.availability %></p>
  <p><%= @vehicle.user_id %></p>
</div>