<div class="container border-bottom mb-2">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-12">
            <%= render "main" %> <!--RENDER ON MAIN VEHICLE INFORMATION-->
          </div>
        </div>
      </div>
      <% if current_user && @vehicle.user_id != current_user.id %>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="ms-5">
            <%= render 'bookings/new', booking: @booking, vehicle: @vehicle %> <!--RENDER ON BOOKING FORM (NEW)-->
            <div style="width: 100%; height: 240px;" class="mt-4"
              data-controller="map"
              data-map-marker-lat-value="<%= @vehicle.latitude %>"
              data-map-marker-lng-value="<%= @vehicle.longitude %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
            <p class="text-justify text-muted mt-2"><strong>Location:</strong> <%= @vehicle.location %></p>
          </div>
        </div>
      <% end %>
    </div>
    <% unless current_user %>
      <a class="btn btn-primary" href="/users/sign_in" role="button">Sign in to book</a>
    <% end %>
  </div>
</div>
<!--REVIEWS SECTION-->
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 border-bottom">
        <%= render "reviews/info_section" %> <!--RENDER ON REVIEWS GENERAL INFORMATION-->
      </div>
      <div class="col-12 mt-5">
        <div class="d-flex justify-content-between align-items-center">
          <% if @reviews_size.zero? %>
            <h1> No Reviews Posted</h1>
          <% else %>
            <h1> Reviews</h1>
          <% end %>
          <!-- IF current_user created a Booking with the Vehicle, user can create a Review once -->
          <div>
            <% if current_user %>
              <% @user_booking = current_user.bookings.find_by(vehicle_id: @vehicle.id, status: 'accepted') %>
              <% if @user_booking %>
                <% @existing_review = Review.find_by(user_id: @current_user_id, vehicle_id: @vehicle.id) %>
                <% unless @existing_review %>
                  <!-- Button to trigger the review modal -->
                  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Write a Review <i class="fa-solid fa-pen-nib ms-1"></i>
                  </button>
                  <%= render "reviews/new" %> <!--RENDER ON REVIEWS FORM (NEW)-->
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= render "reviews/show" %> <!--RENDER ON REVIEWS SHOW by CARD-->
      </div>
    </div>
  </div>
</div>
