<div class="container border-bottom mb-2 mt-5">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="col-12">
          <%= render "main" %> <!--RENDER ON MAIN VEHICLE INFORMATION (vehicles >> _main.html.erb)-->
        </div>
        <% if user_signed_in? && @vehicle.user_id != current_user.id %>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="ms-5">
              <h1>Booking form</h1>
              <%= render 'bookings/new', booking: @booking, vehicle: @vehicle %> <!--RENDER ON BOOKING FORM (booking >>_new.html.erb)-->
              <%= render 'map' %> <!--RENDER SHOW MAP (vehicles >>_map.html.erb)-->
            </div>
          </div>
        <% elsif user_signed_in? && @vehicle.user_id == current_user.id %>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="ms-5"> <!-- ########## EDIT and DELETE buttons on VENDOR ##########-->
              <button type="button" class="btn btn-dark fw-lighter fs-6 w-100 mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit this vehicle</button>
              <%= render "edit" %>
              <%= link_to "Delete vehicle", vehicle_path(@vehicle), class: "btn btn-dark fw-lighter fs-6 w-100 mb-4", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
            <div class="ms-5">
              <div style="pointer-events: none; opacity: 0.5;">
                <%= render 'bookings/new', booking: @booking, vehicle: @vehicle %> <!--RENDER ON BOOKING FORM (booking >>_new.html.erb)-->
              </div>
              <%= render 'map' %> <!--RENDER SHOW MAP (vehicles >>_map.html.erb)-->
            </div>
          </div>
        <% else %>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="ms-5"> <!-- ########## SIGN IN BUTTON with MODAL ##########-->
              <button type="button" class="btn btn-dark w-100 pulse mb-4" data-bs-toggle="modal" data-bs-target="#loginModal">Sign in to Book</button>
              <%= render "devise/sessions/signin_modal" %> <!-- RENDER Sign in Modal (deivse >> sessions >> _signin_modal.html.erb)-->
            </div>
            <div class="ms-5">
              <div style="pointer-events: none; opacity: 0.5;">
                <%= render 'bookings/new', booking: @booking, vehicle: @vehicle %> <!--RENDER ON BOOKING FORM (booking >>_new.html.erb)-->
              </div>
              <%= render 'map' %> <!--RENDER SHOW MAP (vehicles >>_map.html.erb)-->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- ############### REVIEWS SECTION ################ -->
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 border-bottom">
        <%= render "reviews/info_section" %> <!--RENDER ON REVIEWS GENERAL INFORMATION (reviews >>_info_section.html.erb)-->
      </div>
      <div class="col-12 mt-5">
        <div class="d-flex justify-content-between align-items-center">
          <% if @reviews_size.zero? %>
            <h1> No Reviews Posted</h1>
          <% else %>
            <h1> Reviews</h1>
          <% end %>
          <!-- IF current_user created a Booking with the Vehicle, user can create a Review once -->
          <div>
            <% if current_user %>
              <% @user_booking = current_user.bookings.find_by(vehicle_id: @vehicle.id, status: 'completed') %>
              <% if @user_booking %>
                <% @existing_review = Review.find_by(user_id: @current_user_id, vehicle_id: @vehicle.id) %>
                <% unless @existing_review %>
                  <!-- Button to trigger the review modal -->
                  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Write a Review <i class="fa-solid fa-pen-nib ms-1"></i>
                  </button>
                  <%= render "reviews/new" %> <!--RENDER ON REVIEWS FORM (reviews >>_new.html.erb)-->
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= render "reviews/show" %> <!--RENDER ON REVIEWS SHOW by CARD (reviews >>_show.html.erb)-->
      </div>
    </div>
  </div>
</div>
