<div class="container border-bottom mb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-12">
            <% if @vehicle.photo.attached? %>
              <%= cl_image_tag @vehicle.photo.key, height: 1152, width: 2048, crop: :fill, class: 'img-fluid w-100' %>
            <% else %>
              <%= image_tag 'https://tork.buzz/__export/1718370996032/sites/tork/img/2024/06/14/image_10.png_1203501776.png', class: 'img-fluid w-100' %>
            <% end %>
          </div>
          <div class="row mt-3">
            <div class="col-5">
              <p><strong>Name:</strong> <%= @vehicle.name %></p>
              <p><strong>Category:</strong> <%= @vehicle.category %></p>
              <p><strong>Location:</strong> <%= @vehicle.location %></p>
              <p><strong>Listed By:</strong> <%= @vehicle.user.nickname %></p>
            </div>
            <div class="col-5">
              <p><strong>Daily Price:</strong> <%= number_to_currency(@vehicle.price_per_day, unit: '¥', delimiter: ',', precision:0) %></p>
              <p><strong>Seats:</strong> <%= @vehicle.seats %></p>
              <p><strong>Speed:</strong> <%= @vehicle.speed %> <span class="text-muted">km/h</span></p>
            </div>
            <div class="col-2">
              <% if @vehicle.availability == 'available' %>
                <div data-controller="status-style">
                  <span data-status-style-target="statusElement" data-status="<%= @vehicle.availability %>">
                    Available
                  </span>
                </div>
              <% else %>
                <div data-controller="status-style">
                  <span data-status-style-target="statusElement" data-status="<%= @vehicle.availability %>">
                    Unavailable
                  </span>
                </div>
              <% end %>
            </div>
            <div class="col-12">
              <p><strong>Description:</strong> <%= @vehicle.description %></p>
            </div>
            <% if current_user && @vehicle.user_id == current_user.id %>
              <div class="container">
                <%= link_to "Edit this vehicle", edit_vehicle_path(@vehicle), class: "btn btn-dark fw-lighter fs-6" %>
                <%= link_to "Delete vehicle", vehicle_path(@vehicle), class: "btn btn-dark fw-lighter fs-6", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% if current_user && @vehicle.user_id != current_user.id %>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="ms-5">
            <%= render 'bookings/new', booking: @booking, vehicle: @vehicle %>
            <div style="width: 100%; height: 240px;" class="mt-4"
              data-controller="map"
              data-map-marker-lat-value="<%= @vehicle.latitude %>"
              data-map-marker-lng-value="<%= @vehicle.longitude %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% unless current_user %>
      <a class="btn btn-primary" href="/users/sign_in" role="button">Sign in to book</a>
    <% end %>
  </div>
</div>
<!-- IF current_user created a Booking with the Vechile, user can create a Review once -->
<% if current_user %>
  <% @user_booking = current_user.bookings.find_by(vehicle_id: @vehicle.id, status: 'accepted') %>
  <% if @user_booking %>
    <% @existing_review = Review.find_by(user_id: @current_user_id, vehicle_id: @vehicle.id) %>
    <% unless @existing_review %>
      <!-- Button to trigger the review modal -->
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Write a Review
      </button>
      <%= render "reviews/new" %>
    <% end %>
  <% end %>
<% end %>
<!--REVIEWS SECTION-->
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 border-bottom">
        <div class="row d-flex align-items-center mb-4">
          <div class="col-md-4 col-sm-12">
            <div class="d-flex align-items-center justify-content-center">
              <span class="fw-bolder me-2" style="font-size: 50px;"><%= @average_rating %></span>
              <%= render "reviews/stars" %>
            </div>
            <span class="text-muted d-flex justify-content-center"><%= @reviews_size %> responses</span>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="d-flex justify-content-end align-items-center"><span class="fw-monospace me-1">5</span><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i></div>
            <div class="progress mb-1">
              <div class="progress-bar bg-dark" role="progressbar" style="width: <%= @rating_5 %>%" aria-valuenow="<%= @rating_5 %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="d-flex justify-content-end align-items-center"><span class="fw-monospace me-1">4</span><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i></div>
            <div class="progress mb-1">
              <div class="progress-bar bg-dark" role="progressbar" style="width: <%= @rating_4 %>%" aria-valuenow="<%= @rating_4 %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="d-flex justify-content-end align-items-center"><span class="fw-monospace me-1">3</span><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i></div>
            <div class="progress mb-1">
              <div class="progress-bar bg-dark" role="progressbar" style="width: <%= @rating_3 %>%" aria-valuenow="<%= @rating_3 %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="d-flex justify-content-end align-items-center"><span class="fw-monospace me-1">2</span><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i></div>
            <div class="progress mb-1">
              <div class="progress-bar bg-dark" role="progressbar" style="width: <%= @rating_2 %>%" aria-valuenow="<%= @rating_2 %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="d-flex justify-content-end align-items-center"><span class="fw-monospace me-1">1</span><i class="fa fa-star" style="font-size: 10px; color: #f39c12;"></i></div>
            <div class="progress mb-1">
              <div class="progress-bar bg-dark" role="progressbar" style="width: <%= @rating_1 %>%" aria-valuenow="<%= @rating_1 %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-5">
        <h2> Reviews</h2>
        <%= render "reviews/show" %>
      </div>
    </div>
  </div>
</div>
