<%= simple_form_for([ @booking, @review ]) do |f| %>
  <div class="star-rating">
    <% (1..5).reverse_each do |i| %>
      <input type="radio" id="star<%= i %>" name="review[rating]" value="<%= i %>" 
      <%= 'checked' if @review.rating == i %> />
      <label for="star<%= i %>" title="<%=i%>">
        <i class="fa fa-star"></i>
      </label>
    <% end %>
  </div>
  <%= f.input :title, label: "Add a Title" %>
  <%= f.input :comment, label: "Add a comment" %>
  <%= f.hidden_field :user_id, value: @current_user_id %>
  <%= f.hidden_field :vehicle_id, value: @booking.vehicle.id %>
  <%= f.submit "Create Review" %>
<% end %>
