<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Fleet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- MAIN Navbar -->
    <%= render "shared/navbar" %>
    <!-- CATEGORIES ICONS Navbar -->
    <% if current_page?(root_path) %>
      <%= render "shared/hero" %>
      <%= render "shared/category_banners" %>
    <% end %>
    <% if current_page?(root_path) || current_page?(vehicles_path) %>
      <%= render "shared/category_navbar" %>
      <%= render "shared/filters" %>
    <% end %>
    <!-- Devise alerts and notice -->
    <%=render "shared/flashes" %>
    <%= yield %>
    <!-- Footer -->
    <%= render "shared/footer" %>
  </body>
</html>
